.player {
    position: absolute;
    background-image: url(../Graphics/player.png);
    width: 64px;
    height: 64px;
}
.enemy {
    position: absolute;
    background-image: url(../Graphics/enemy.png);
    width: 64px;
    height: 64px;
}
.missile{
    position: absolute;
    background-image: url(../Graphics/missile.png);
    width: 32px;
    height: 32px;
}
